# Flask
# Flask-Cors
# python-dotenv
# # langchain-classic
# # langchain_ollama
# # langchain_google_genai
# # langchain_community
# # langchain_openai
# # langchain_groq
# # langchain_experimental

# langchain==0.1.20
# langchain-core==0.1.52
# langchain-text-splitters==0.0.3
# langchain-google-genai==1.0.10
# langchain-community==0.0.38
# langchain-groq==0.1.9
# langchain-openai==0.1.23
# langchain-experimental==0.0.65

# google-generativeai
# yfinance
# requests
# ddgs
# pandas
# numpy
# datetime
# pymongo
# dnspython





Flask
Flask-Cors
python-dotenv

langchain==0.1.20
langchain-core==0.1.52
langchain-text-splitters==0.0.2
langchain-google-genai==1.0.10
langchain-community==0.0.38
langchain-groq==0.1.9
langchain-openai==0.1.23
langchain-experimental==0.0.65

google-generativeai
yfinance
requests
ddgs
pandas
numpy
datetime
pymongo
dnspython
